In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('clean_data.csv')
data = data.drop(columns='Unnamed: 0')
data['DATETIMEDATA'] = pd.to_datetime(data['DATETIMEDATA'])
data = data.drop(columns=['PM25','PM10','O3','CO','NO2','SO2'])
data

            DATETIMEDATA  WS  TEMP  RH   WD
0    2024-01-01 00:00:00   0    25  92  232
1    2024-01-01 01:00:00   0    25  93  272
2    2024-01-01 02:00:00   0    25  94  248
3    2024-01-01 03:00:00   0    25  93  269
4    2024-01-01 04:00:00   0    25  93  272
...                  ...  ..   ...  ..  ...
1625 2024-03-08 19:00:00   0    29  72  140
1626 2024-03-08 20:00:00   0    29  73  149
1627 2024-03-08 21:00:00   0    28  80  199
1628 2024-03-08 22:00:00   0    27  84  255
1629 2024-03-08 23:00:00   0    27  84  296

[1630 rows x 5 columns]

In [3]:
from pycaret.regression import *
setup101 = setup(data, target='WD', session_id = 123, date_features=['DATETIMEDATA'], normalize=True)
best_model = compare_models()
tuned = tune_model(best_model)
bagged = ensemble_model(tuned , n_estimators=15)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [6]:
save_model(bagged, 'WD_catboost_pipeline')
load_model('WD_catboost_pipeline')
predict_model(bagged)

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded

            DATETIMEDATA  WS  TEMP  RH   WD  prediction_label
1076 2024-02-14 21:00:00   0    26  90  283        246.883977
953  2024-02-09 17:00:00   1    31  60  109        114.373065
778  2024-02-02 10:00:00   1    31  58  111        107.294116
776  2024-02-02 08:00:00   1    27  79  268        211.343735
263  2024-01-11 23:00:00   0    25  90  262        248.243739
...                  ...  ..   ...  ..  ...               ...
646  2024-01-27 22:00:00   0    25  87  245        245.037310
1229 2024-02-21 06:00:00   0    24  88  246        272.994556
1158 2024-02-18 07:00:00   0    24  88  272        274.570579
1039 2024-02-13 08:00:00   0    28  73   32        141.132697
1001 2024-02-11 17:00:00   1    30  59  126        118.361298

[489 rows x 6 columns]