In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('clean_data.csv')
data = data.drop(columns='Unnamed: 0')
data['DATETIMEDATA'] = pd.to_datetime(data['DATETIMEDATA'])
data

,DATETIMEDATA,PM25,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD
0,2024-01-01 00:00:00,30.3,47.0,6.0,0.50,9.00,0.00,0,25,92,232
1,2024-01-01 01:00:00,37.7,65.0,5.0,0.41,5.00,0.00,0,25,93,272
2,2024-01-01 02:00:00,50.9,78.0,9.0,0.29,2.00,0.00,0,25,94,248
3,2024-01-01 03:00:00,45.1,66.0,9.0,0.38,2.00,0.34,0,25,93,269
4,2024-01-01 04:00:00,38.1,59.0,6.0,0.31,7.11,0.00,0,25,93,272
...,...,...,...,...,...,...,...,...,...,...,...
1625,2024-03-08 19:00:00,7.1,27.0,5.0,0.31,10.00,0.00,0,29,72,140
1626,2024-03-08 20:00:00,7.3,27.0,6.0,0.31,9.00,0.00,0,29,73,149
1627,2024-03-08 21:00:00,9.3,32.0,3.0,0.48,12.00,0.00,0,28,80,199
1628,2024-03-08 22:00:00,11.3,32.0,2.0,0.73,11.00,0.00,0,27,84,255
1629,2024-03-08 23:00:00,16.5,31.0,2.0,0.54,8.00,0.34,0,27,84,296

In [3]:
from pycaret.regression import *
setup101 = setup(data, target='PM25', session_id = 123, date_features=['DATETIMEDATA'], normalize=True)
best_model = compare_models()
tuned = tune_model(best_model)
bagged = ensemble_model(tuned , n_estimators=20)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [4]:
save_model(bagged, 'PM25_catboost_pipeline')
load_model('PM25_catboost_pipeline')
predict_model(bagged)

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded

,DATETIMEDATA,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
1076,2024-02-14 21:00:00,44.0,2.000000,0.94,13.0,0.0,0,26,90,283,22.400000,19.560560
953,2024-02-09 17:00:00,43.0,30.000000,0.29,7.0,1.0,1,31,60,109,17.100000,17.061582
778,2024-02-02 10:00:00,51.0,25.000000,0.20,3.0,0.0,1,31,58,111,25.299999,25.632438
776,2024-02-02 08:00:00,50.0,9.000000,0.56,10.0,0.0,1,27,79,268,29.900000,21.904367
263,2024-01-11 23:00:00,70.0,4.000000,0.39,6.0,0.0,0,25,90,262,30.400000,31.265974
...,...,...,...,...,...,...,...,...,...,...,...,...
646,2024-01-27 22:00:00,60.0,12.000000,0.31,8.0,0.0,0,25,87,245,26.400000,26.179527
1229,2024-02-21 06:00:00,23.0,3.000000,0.31,7.0,0.0,0,24,88,246,9.300000,11.285047
1158,2024-02-18 07:00:00,42.0,3.000000,0.45,8.0,0.0,0,24,88,272,13.700000,20.431808
1039,2024-02-13 08:00:00,70.0,16.559999,0.70,17.0,0.0,0,28,73,32,21.000000,28.424512
1001,2024-02-11 17:00:00,30.0,42.000000,0.28,6.0,1.0,1,30,59,126,8.300000,8.965342