In [8]:
import pandas as pd

In [13]:
data = pd.read_csv('nst.csv')
data = data[data.isnull().sum(axis=1) < 3]
cl_null = ['PM25', 'PM10', 'O3', 'CO', 'NO2', 'SO2', 'WS', 'TEMP', 'RH', 'WD']
data = data[cl_null].fillna(data[cl_null].mean().round(2))
data.to_csv(f"clean_data.csv")
data

      PM25  PM10   O3    CO    NO2   SO2  WS  TEMP  RH   WD
0     30.3  47.0  6.0  0.50   9.00  0.00   0    25  92  232
1     37.7  65.0  5.0  0.41   5.00  0.00   0    25  93  272
2     50.9  78.0  9.0  0.29   2.00  0.00   0    25  94  248
3     45.1  66.0  9.0  0.38   2.00  0.34   0    25  93  269
4     38.1  59.0  6.0  0.31   7.11  0.00   0    25  93  272
...    ...   ...  ...   ...    ...   ...  ..   ...  ..  ...
1627   7.1  27.0  5.0  0.31  10.00  0.00   0    29  72  140
1628   7.3  27.0  6.0  0.31   9.00  0.00   0    29  73  149
1629   9.3  32.0  3.0  0.48  12.00  0.00   0    28  80  199
1630  11.3  32.0  2.0  0.73  11.00  0.00   0    27  84  255
1631  16.5  31.0  2.0  0.54   8.00  0.34   0    27  84  296

[1630 rows x 10 columns]